<!--
  Generated template for the EmprendedoresPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>EmpreRed</strong>
    </ion-title>

  </ion-navbar>

</ion-header>



<ion-content padding>


   <ion-searchbar  [(ngModel)]="nombre" (ionInput)="buscarEmprendedores()" animated></ion-searchbar>
  <ion-item *ngFor="let emprendedor of emprendedores">
    <ion-item>
      <ion-avatar item-start>
        <img [src]="urlMedia + emprendedor.foto">
      </ion-avatar>
      <h2>{{emprendedor.nombre_marca}}</h2>
      <p>{{emprendedor.nombre}} {{ emprendedor.apellido }}</p>
    </ion-item>    


    <ion-card (click)="verEmprendedor(emprendedor)">
    
    
    
      <ion-item style="text-align: center;">
        <img [src]="urlMedia + emprendedor.foto_marca" />
        
    
    
      </ion-item>
    
      <ion-card-content>
        <p>{{emprendedor.descripcion_marca}}</p>
      </ion-card-content>
    
    
    
      <ion-row>
        <ion-col>
          <button style="cursor: auto" ion-button icon-start clear small>
            <ion-icon name="text"></ion-icon>
            <div>{{emprendedor.visitas}} visitas</div>
          </button>
        </ion-col>
        <ion-col>
          <button style="cursor: pointer" ion-button icon-start clear small>
            <ion-icon name="eye"></ion-icon>
            <div>Ver </div>
          </button>
        </ion-col>
    
      </ion-row>
    
    </ion-card>

  </ion-item>


 


</ion-content>


