<!-- Generated template for the DetalleCatalogoListItemComponent component -->



    <ion-card (click)="verDetalleCatalogo(detalleCatalogo.id)">

      <div style="text-align: center;">
        <img [src]="urlMedia + detalleCatalogo.producto.foto" />

      </div>

      <ion-card-header>

        <ion-card-title>
          {{detalleCatalogo.titulo}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content style="overflow: hidden; word-wrap: break-word;">
        <p>{{detalleCatalogo.descripcion}}</p>
      </ion-card-content>


     <ion-row>

        <ion-col>
          <button style="cursor: auto" ion-button icon-start clear small>
            <ion-icon name="dolar"></ion-icon>
            <div><h3>$ {{ detalleCatalogo.precio_venta }}</h3></div>
          </button>
        </ion-col>
        <ion-col>
          <button style="cursor: auto" ion-button icon-start clear small>
            <ion-icon name="text"></ion-icon>
            <div>{{detalleCatalogo.visitas}} visitas</div>
          </button>
        </ion-col>


      </ion-row>

    </ion-card>

