
.Contacto {
  opacity: 0.5;
  filter: alpha(opacity=90);
  background-color: white;
  border: 1px;
  padding: 10px;
  float: right;
  width:100%;


}

.footer2{

    bottom: 0;
    display: flex;
    width: 100%;
    background: #202020;
    color: white;
    position:fixed;

    opacity: 0.8;
    filter: alpha(opacity=40);
    justify-content: space-between;
    padding: 10px;

}

.container-footer-all{
    width: 100%;

    margin: 0;
    align-items:center;
    align-content:center;
    padding: 10px;
    bottom: 0;
}

.container-body{
    display: flex;
    justify-content: space-between;

}

.colum1{
    max-width: 400px;
    float: center;

}


.divColumn1{

  align-content: left;
  float:left;
  text-align: left;

}

.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;


}

.colum2 h1{
    font-size: 22px;
}


.colum3{
    max-width: 300;
}

.colum3 h1{
    font-size: 22px;
}



.container-footer{
    width: 100%;
    background: #101010;
}





.containerMain{
  color: white;
  background: black;
  opacity: 0.8;
  font-size: 20px;
  border-radius: 30px;
  padding: 25px;

}
