.Ingreso{	
	padding-top: 10%;  
}

body, .All{
background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.Ingreso2{		
	margin-bottom: 0;
	bottom: 0%;
	width: 100%;
	margin: 0;
	position: fixed;  
}

.body{
		bottom: 0;
}


.logoE{
	transition: all 2s;
      -webkit-transition: all 2s;
}

.logoE:hover{
	 transform:rotate(360deg) scale(0.4,0.4);
        -webkit-transform:rotate(360deg) scale(0.4,0.4);
        -o-transform:rotate(360deg) scale(0.4,0.4);		
        
}

.slider {
	width: 100%;
	
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}


/*#animacion{
  padding:0;
	margin:0 auto;
	height: 364px;
	width: 960px;}
 
#animacion img{ 
  position:absolute;
	top: 0;
	
	-webkit-transition: all 1s;
	
  transition: 2s;
}
 
#animacion img.novisible{
	opacity:0;
	filter:alpha(opacity=0);}
 
#animacion:hover img.novisible{
	opacity:1;
	filter:alpha(opacity=100);}
 
#animacion:hover img.visible {
	opacity:0;
	filter:alpha(opacity=0);}
 
#animacion img.visible:hover{
	opacity:0;
	filter:alpha(opacity=0);}
/*
@keyframes cf3FadeInOut {
  0% {
  opacity:1;
}
45% {
opacity:1;
}
55% {
opacity:0;
}
100% {
opacity:0;
}
}

#cf3 div {
animation-name: cf3FadeInOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 3s;
animation-direction: alternate;
background-image: '../assets/EmpreRedRectangular.png';
}*/

