.Fondo {
  text-align: center;
  filter: alpha(opacity=40);
  background: url(../assets/fondo3.jpg) no-repeat center center fixed ;
  background-attachment: fixed;
  height: 100%;
  background-size: cover;
  margin: 0;
  width: 100%;
  position: relative;
  overflow:scroll;
  scroll-behavior: auto;

}

.primer-div{

  padding-top: 5%;
}

.second-div{

  padding-top: 10%;
 

}


.contenedor{
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgb(255,255,255,0.9), rgb(236,233,230,0.8));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgb(255,255,255,0.9), rgb(236,233,230,0.8)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  height: 100%;
  width: 100%;
  
  /*background: #ECE9E6;  /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 /* width: 100%;
  height: 100%;
  opacity: 0.40;
		filter: alpha(opacity=60);*/
}

.logo{

  opacity: 0.90;
  filter: alpha(opacity=40);
 
  

}
.segment{


opacity: 1;
filter: alpha(opacity=40);

}

.google-button{

  width: 50%;


}
