.DivPrincipalTienda{
    
    background-Color: '#f2f2f2';
    padding-top: 5%;
    width: 100%;
    bottom: 0;
    height: 100%;
    overflow: auto;
    
}
.DivPrincipalResult{
    background-Color: '#f2f2f2';
    padding-top: 5%;
    width: 100%;
    bottom: 0;
    height: 100%;
    
}

.grid-conteiner{

    width: 100%;
    bottom: 0;
}

.segment-conteiner{
    
    
}

.grid-conteiner2{
    width: 100%;
    bottom: 0;
}

.itemsP{
    
    
    text-align: left
}

.item-group{
    width: 100%;
    
}


.column-products{

}

.Accordion{
    border: solid none;
}

.divResult{
    overflow: auto;
}