<!--
  Generated template for the ModalFiltrosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Filtrar productos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label color="primary" floating>Nombre</ion-label>
    <ion-input  [(ngModel)]="nombre" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Precio desde</ion-label>
    <ion-input  [(ngModel)]="precioDesde" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Precio hasta</ion-label>
    <ion-input [(ngModel)]="precioHasta" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Categoria</ion-label>
     <ion-select [(ngModel)]="categorias" multiple="true" cancelText="Cancelar" okText="Ok">
      <ion-option value="cat1">Cat1</ion-option>
      <ion-option value="cat2">Cat2</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Sub categorias</ion-label>
    <ion-select [(ngModel)]="subCategorias" multiple="true" cancelText="Cancelar" okText="Ok">
      <ion-option value="cat1">SubCat1</ion-option>
      <ion-option value="cat2">SubCat2</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Emprendedor</ion-label>
    <ion-input [(ngModel)]="emprendeor"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label  color="primary" floating>Marca</ion-label>
    <ion-input [(ngModel)]="marca"></ion-input>
  </ion-item>



    <ion-grid>
      <ion-row>

        <ion-col>
          <button ion-button color="primary" (click)="buscar()">Buscar </button>
        </ion-col>
        <ion-col>
          <button ion-button color="medium" (click)="cerrar()">Cerrar</button>
        </ion-col>


      </ion-row>

    </ion-grid>

</ion-content>
