<!-- Generated template for the DetalleCatalogoListComponent component -->

    <ion-searchbar #buscarProducto [(ngModel)]="nombre" (ionInput)="buscarProductos(buscarProducto.value)" animated></ion-searchbar>
    <button ion-button (click)="abrirModalFiltros()">Más filtros</button>

    <ion-item *ngFor="let detalleCatalogo of this.detallesCatalogo">
      <detalle-catalogo-list-item [detalleCatalogo]="detalleCatalogo"></detalle-catalogo-list-item>
    </ion-item>

     <ion-infinite-scroll threshold="100px" (ionInfinite)="cargarMasDetalles($event, buscarProducto.value)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Cargando más publicaciones">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
