<!--
  Generated template for the DetalleCatalogoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Comprar producto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

  <ion-item class="titulo" style="overflow: hidden" text-wrap="true" text-center="true">
      <h1>{{ this.titulo }}</h1>
  </ion-item>


  <ion-item text-wrap="true">
    <p>{{this.descripcion}}</p>
  </ion-item>


  <div style="margin-left: 20px; margin-right: 20px; height: 200px;">
    <ion-slides class="slide-imagen">
    <ion-slide *ngFor="let imagen of imagenes"  >
        <img  [src]="urlMedia + imagen.foto">
    </ion-slide>

  </ion-slides>
  </div>




     <ion-item no-lines="true" style=" margin-left: 20px; margin-right: 20px" text-center="true" >
          <h1 style="font-size: 30px;">$ {{ this.precio }}</h1>
      </ion-item>

      <ion-row style=" text-align: center; margin-left: 20px; margin-right: 20px; ">
            <ion-label style="font-size: 20px" color="primary">Cantidad</ion-label>
          <ion-input style="font-size: 25px;" type="number" [(ngModel)]="cantidad"  (change)=actualizarPrecio(cantidad) text-center="true"></ion-input>
        </ion-row>






     <ion-row style="text-align: right;">

        <ion-col>
          <button style="cursor: pointer" (click)="comprarProducto()" ion-button full>
            <ion-icon name="cash"></ion-icon>
            <div> ¡Comprar!</div>
          </button>
        </ion-col>

        <ion-col>
          <button style="cursor: pointer" (click)="cerrar()" color="warning" full>
            <ion-icon name="close"></ion-icon>
            <div> Cerrar</div>
          </button>
        </ion-col>

      </ion-row>





</ion-content>
