<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reporte movimientos stock</title>
    <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
        }
        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 5px;
            background-color: #fff;
        }
        .table th,
        .table td {
            padding: 5px;
            vertical-align: top;
            border-top: 1px solid #000;
            text-align: center;
        }
        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #000;
            font-weight: bold;
            color: darkgrey;
        }
        .table tbody + tbody {
            border-top: 2px solid #000;
        }
        .table .table {
            background-color: #fff;
        }
        .list-group {
            display: block;
            width: 100%;
            list-style: none;
            margin-top: 15px;
            margin-bottom: 15px;
            text-align: right;
        }
        .list-group p {
            width: 100%;
            height: 20px;
            line-height: 20px;
            list-style: none;
            font-size: 1.1em;
            
        }
        .card-header{
            text-align: center;
        }

    </style>
</head>
<body>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Reporte movimientos stock </h1>             
            <h2>{{ autor.nombre }} {{ autor.apellido }}</h2>
            <h3>  {{ today | date:"d/m/Y" }}</h3>
        </div>

        <div class="list-group">
            
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Fecha hora</th>
                <th>Tipo Movimiento</th>
                <th>Producto / Materia prima</th>
                <th>Motivo</th>
                <th>Cantidad</th>
            </tr>
            </thead>
            <tbody>
            {% for movimiento_stock in movimientos_stock %}
                <tr>
                    <td height="10%">{{ movimiento_stock.fecha_hora | date:"d/m/Y" }}</td>
                    <td height="10%">{{ movimiento_stock.tipo_movimiento }}</td>
                    <td height="30%">{{ movimiento_stock.producto_materia_prima }}</td>
                    <td height="40%">{{ movimiento_stock.motivo }}</td>
                    <td height="10%">{{ movimiento_stock.cantidad }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>