<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Recuperar clave</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-color">
  
  <div>
	<h1>Recuperar contraseña</h1>
	<h2>{{ username }}</h2>
  </div>
    
	<div class="row">
		<div class="colum">
		<img src="../../../client/src/assets/EmpreRedLogoE.png">
		</div>  

        /home/matibrond/Tesis/EmpreRed/Emprered/client/src/assets
      	<div class="colum">
          
  		<div class="form-group">
        	<form href="{{ url }}" method="POST">
            	<label>Nueva contraseña</label><br>
            	<input type="password" name="clave" class="form-control" placeholder="Password"><br>
            	<label>Repetir contraseña</label><br>
            	<input type="password" name="clave_repetida" class="form-control" placeholder="Password"><br>
            	<input type="submit" value="Cambiar contraseña">
        	</form>
  		
          </div>
      </div>
  	</div>
</div>


</body>
</html>