<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reporte movimientos stock</title>
    <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
        }
        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 5px;
            background-color: #fff;
        }
        .table th,
        .table td {
            padding: 5px;
            vertical-align: top;
            border-top: 1px solid #000;
            text-align: center;
        }
        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #000;
            font-weight: bold;
            color: darkgrey;
        }
        .table tbody + tbody {
            border: 1px solid #000;
        }
        .table .table {
            background-color: #fff;
        }
        .list-group {
            display: block;
            width: 100%;
            list-style: none;
            margin-top: 15px;
            margin-bottom: 15px;
            text-align: right;
        }
        .list-group p {
            width: 100%;
            height: 20px;
            line-height: 20px;
            list-style: none;
            font-size: 1.1em;
            
        }
        .card-header{
            text-align: center;
        }

    </style>
</head>
<body>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>Reporte producción </h1>             
            <h2>{{ autor.nombre }} {{ autor.apellido }}</h2>
            <h3> {{ today | date:"d/m/Y" }}</h3>
        </div>
        </div>
        <div class="card">

        <div class="list-group">
        </div>
        <h3>Producción {{ produccion.id }}</h3> 

        {% for detalle in produccion.detalles_produccion %}
        <h4>Producto a producir: {{ detalle.producto}} </h4>
        <h4>Cantidad a producir: {{ detalle.cantidad}} </h4>
        <h4>Materias primas necesarias</h4>

        <table class="table">
            <thead>
            <tr>
                <th>Materia prima</th>
                <th>Cantidad por unidad</th>
                <th>Cantidad necesaria</th>                
            </tr>
            </thead>
            <tbody>
            {% for materia_prima in detalle.materias_primas %}
                <tr>
                    <td height="40%">{{ materia_prima.materia_prima }}</td>
                    <td height="30%">{{ materia_prima.cantidad_receta }}</td>
                    <td height="30%">{{ materia_prima.cantidad_total }}</td>                    
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        {% endfor %}
    </div>
    <div class="card">
        <h2>Resumen de materias primas necesarias</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Materia prima</th>
                    <th>Cantidad total</th>                    
                </tr>
            </thead>
            <tbody>
                {% for materia_prima in produccion.materias_primas %}
                <tr>                    
                    <td height="50%">{{ materia_prima.nombre }}</td>
                    <td height="50%">{{ materia_prima.cantidad }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>