<!--
  Generated template for the RegistroRolPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Elija su rol</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


    <div (click)="registrarEmprendedor()" class="registro-emprendedor" >
      <h1 class="registro-emprendedor-letra">Emprendedor</h1>
    </div>
    <div (click)="registrarCliente()" class="registro-cliente" >
      <h1 class="registro-cliente-letra">Cliente</h1>
    </div>

</ion-content>
