page-registro-rol {





  .registro-emprendedor{
    background-color: #FF5000;
    border-radius: 5px;
    margin: 10px;
    text-align: center;

    margin-top: 60px;
    height: 150px;
    padding-top: 50px;
    cursor: pointer;
  }

  .registro-cliente{
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;
    text-align: center;

    height: 150px;
    padding-top: 50px;

    border: 1px solid #FF5000;
    cursor: pointer;
  }

  .registro-emprendedor-letra {
    color: #FFFFFF;
    font-size: 45px;
  }

  .registro-cliente-letra {
    color: #FF5000;
    font-size: 45px;
  }

}
