page-detalle-catalogo {

  ion-content{
    background-color: rgba(250, 80, 0, 0.29);
  }

  .titulo {
    text-align: center;
  }

  .titulo h1{
    color: #FF5000;
    font-size: 45px;
  }

  .item-precio{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
  }

  .contenedor-precio{
    width: 60%;
    margin-left: 20%;
    border-radius: 50%;
    text-align: center;
  }

  .slide-imagen{
    height: 260px;
  }


  .slide-imagen ion-slide{
    margin-right: 5px;
  }

  .slide-imagen img{
    height: 250px;

  }

}
