<!--
  Generated template for the DetalleCatalogoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Producto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

  <ion-item class="titulo" style="overflow: hidden" text-wrap="true" >
      <h1>{{ this.titulo }}</h1>

  </ion-item>
  <ion-item text-wrap="true">
    <p>{{this.descripcion}}</p>
  </ion-item>



  <ion-item>
     <ion-row style=" text-align: center;">
         <ion-col style="background-color: #C7C7C7">
          <h2>{{this.categoria}} > {{this.subcategoria}}</h2>
        </ion-col>
        <ion-col style="background-color: #FF5000">
          <h1>$ {{ this.precio }}</h1>
        </ion-col>

      </ion-row>
  </ion-item>


  <ion-item>
     <ion-row style=" text-align: center;">

        <ion-col>
          <ionic3-star-rating
            activeIcon = "ios-star"
          defaultIcon = "ios-star-outline"
          activeColor = "#FF5000"
          defaultColor = "#CCCCCC"
          readonly="true"
            [rating]=this.valoracion>
          </ionic3-star-rating>
        </ion-col>
        <ion-col>
            Visitas: {{this.visitas}}
        </ion-col>
      </ion-row>
  </ion-item>

  <div style="margin-left: 20px; margin-right: 20px;">
    <ion-slides class="slide-imagen">
    <ion-slide *ngFor="let imagen of imagenes"  >
        <img  [src]="urlMedia + imagen.foto">
    </ion-slide>

  </ion-slides>
  </div>






  <ion-item>
     <ion-row style="text-align: right;">

        <ion-col>
          <button style="cursor: pointer" (click)="abrirModalCompra()" ion-button icon-start  big>
            <ion-icon name="cash"></ion-icon>
            <div>¡Lo quiero!</div>
          </button>
        </ion-col>

      </ion-row>
  </ion-item>

  <ion-item>

    <h2>Comentarios</h2>
    <div class="comment-box">
      <ion-card *ngFor="let comentario of comentarios">
        <ion-card-content>
          <ion-item>
            <ion-avatar item-start>
              <img [src]="urlMedia + comentario.foto">
            </ion-avatar>
            <h2>{{comentario.creador}}</h2>
            <p>{{ comentario.fecha_hora | date: 'dd/MM/yyyy hh:mm'}}</p>
          </ion-item>
          <ion-item>
            <p style="color:black">
            {{ comentario.descripcion }}
          </p>
          </ion-item>

        </ion-card-content>

      </ion-card>
    </div>



    <ion-item style="text-align: center">
      <input [(ngModel)]="inputComentario" type="text" placeholder="Comentario" style="border-radius: 10px; height: 20px;">
      <button ion-button big float-right round (click)="enviarComentario()">Enviar</button>
    </ion-item>


  </ion-item>



</ion-content>
