<!--
  Generated template for the ProductosListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Productos más visitados</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


      <div style="text-align:center">


          <ion-searchbar animated></ion-searchbar>

          <detalle-catalogo-list [detallesCatalogo]="detalles_catalogo"></detalle-catalogo-list>



      </div>

</ion-content>
