<!--
<ion-header>
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>      
      <strong>EmpreRed</strong>
    </ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

    <ion-card (click)="verProductos()">
      <ion-card-title>
        Productos
      </ion-card-title>
      <ion-card-content>
        <img src="../../assets/imgs/home/productos.jpg" />
      </ion-card-content>
    </ion-card>


  <ion-card (click)="verEmprendedores()">
    <ion-card-title>
      Emprendedores
    </ion-card-title>
    <ion-card-content>
      <img src="../../assets/imgs/home/red-emprendedores.jpg" />
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-title>
      Categorías
    </ion-card-title>
    <ion-card-content>
        <img src="../../assets/imgs/home/categorias.jpg" />
    </ion-card-content>
  </ion-card>



</ion-content>
-->


<!--
  Generated template for the ProductosListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>EmpreRed</strong>
    </ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>


      <div style="text-align:center">



          <detalle-catalogo-list [detallesCatalogo]="detalles_catalogo"></detalle-catalogo-list>



      </div>

</ion-content>
