page-home,
.home {
  ion-list {
    border-radius: 1rem;
    overflow: hidden;

    ion-item,
    .item:first-child,
    .item:last-child {
      border: none;
    }

    ion-datetime {
      padding-left: 0;
    }
  }

  ion-card{
    padding-bottom: 50px;

    img{
      height: 60%;
    }

    ion-card-title{
      margin-bottom: 15px;
    }
  }



}
