
{% block content %}
    {% if query %}
        [
            {% for result in page.object_list %}
                <p>
                    {
                        'titulo': {{ result.object.titulo }},
                        'descripcion': {{ result.object.descripcion }}
                    }
                </p>
            {% empty %}
                <p>[]</p>
            {% endfor %}
        ]
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
        <pre>No se realizó ninguna consulta. ¿Quizás quieras hacer algo como <b>search/?q=tu%20consulta</b>?</pre>
    {% endif %}
{% endblock %}
