page-etiquetas {

}

.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 70%;
    font-size: 3.0em;
    width: 100%;
    font-weight: bold;
    color:  #FF5000;
    background-color:  #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

}

