<!-- -->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>EmpreRed - Categorías</strong>
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card>
    <img src="../../assets/imgs/etiquetas/tecnologia.jpeg" />
    <div class="card-title">Tecnología</div>
    <div class="card-subtitle"></div>
  </ion-card>

  <ion-card>
    <img src="img/etiquetas/arte.png" />
    <div class="card-title">Amsterdam</div>
    <div class="card-subtitle">64 Listings</div>
  </ion-card>

  <ion-card>
    <img src="img/etiquetas/moda.png" />
    <div class="card-title">San Francisco</div>
    <div class="card-subtitle">72 Listings</div>
  </ion-card>

  <ion-card>
    <img src="img/etiquetas/hogar.png" />
    <div class="card-title">Madison</div>
    <div class="card-subtitle">28 Listings</div>
  </ion-card>

</ion-content>