<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo">
        <img src="../../assets/imgs/EmpreRedLogoE.png" height="100px" alt="">
      </div>
      <h1 ion-text class="text-primary">
        <strong>EmpreRed</strong> 
      </h1>
      
    </div>

    <!-- Login form -->
    <form class="list-form">
      <ion-item>
        <ion-label floating color="primary">
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input #email type="email"></ion-input>
      </ion-item>

      <ion-item >
        <ion-label floating color="primary">
          <ion-icon  name="lock" item-start class="text-primary"></ion-icon>
          Password
        </ion-label>
        <ion-input #password type="password"></ion-input>
      </ion-item>
    </form>

    <p text-right ion-text color="disabled" tappable (click)="olvidoClave()">Olvidé mi contraseña</p>

    <div>
      <button ion-button icon-start block color="primary"  tappable (click)="login(email.value, password.value)">
        <ion-icon name="log-in"></ion-icon>
        Ingresar
      </button>
    <br>    
    
    <ion-grid>
      <ion-row>
        <ion-col col-12>

          <p text-center ion-text color="disabled">O ingresa con</p>
        </ion-col>
          <ion-col col-4>
          
          </ion-col>
          
          <ion-col col-4>
            <button ion-button icon-only block class="btn-gplus">
              <ion-icon name="logo-googleplus"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>


    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="disabled" tappable (click)="registrar()">¿No tenés cuenta? <strong style="color: #FF5000">Registrate</strong></span>
    </div>

  </div>
</ion-content>
