<!--
  Generated template for the RegistroUsuarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <strong>EmpreRed</strong>
    </ion-title>

  </ion-navbar>

</ion-header>

<ion-content padding>


  <ion-item>
    <ion-label color="primary" floating>Email</ion-label>
    <ion-input  [(ngModel)]="email" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Nombre de usuario</ion-label>
    <ion-input  [(ngModel)]="username" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Contraseña</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>Repetir contraseña</ion-label>
    <ion-input  [(ngModel)]="password_repetida" type="password"></ion-input>
  </ion-item>

  <ion-item>
    <button ion-button block color="primary" (click)="registrarUsuario()">Registrar</button>
  </ion-item>

</ion-content>
