<ion-header>

  <ion-navbar>
    <ion-title>Emprendedor</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>



    <div align="center">

      <h1>{{ this.emprendedor.nombre_marca }}</h1>
      <ion-item item-start="">
        <ion-avatar item-start>
          <img [src]="urlMedia + emprendedor.foto">
        </ion-avatar>
        <br>

       <h3>{{ this.emprendedor.nombre }} {{ this.emprendedor.apellido }} </h3>
        <h4>{{ this.emprendedor.email }}</h4>
      </ion-item>
      <ion-item style="border-radius: 10px" item-end="">
        <img class="profile-image" [src]="urlMedia + emprendedor.foto_marca">
      </ion-item>




      <div style="text-align:center; margin-top: 3%">

          <h2 text-center ion-text color="primary">Productos</h2>

          <detalle-catalogo-list [detallesCatalogo]="detalles_catalogo" [idEmprendedor]="this.emprendedor.id"></detalle-catalogo-list>



      </div>



    </div>

</ion-content>
"
