<!--
  Generated template for the RegistroClientePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registro cliente</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-item>
    <ion-label color="primary" floating>Nombre</ion-label>
    <ion-input  [(ngModel)]="" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Apellido</ion-label>
    <ion-input  [(ngModel)]="" type="text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>bla</ion-label>
    <ion-input [(ngModel)]="" type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>blat</ion-label>
    <ion-input  [(ngModel)]="" type="password"></ion-input>
  </ion-item>

  <ion-item>
    <button ion-button block color="primary">Registrar</button>
  </ion-item>

</ion-content>
